.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: none; }

.navbar-brand {
  color: white; }

.bg-dark {
  background: black; }

.border-dark-subtle {
  border-color: black; }

.card {
  border: none;
  background: none; }

.link-secondary {
  text-decoration: none; }

.btn-dark {
  border-radius: 0;
  border: 2px solid black;
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
  color: black; }

.btn-light {
  border: 1px solid rgba(255, 255, 255, 0.642);
  border-radius: 1rem;
  background-color: none; }
